In [1]:
import ephem 
import pandas as pd 
from datetime import datetime, timedelta
import os

/tmp/ipykernel_2243/2806062083.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def get_solar_position(latitude, longitude, date):
    observer = ephem.Observer()
    observer.lat = str(latitude)
    observer.long = str(longitude)
    observer.date = date 


    sun  = ephem.Sun(observer)

    azimuth = sun.az * 180 / ephem.pi
    altitude = sun.alt * 180 /ephem.pi

    return azimuth, altitude

In [3]:
latitude = -7.921179
longitude = 112.599392

In [4]:
start_date = datetime(2022, 10, 1)
end_date = datetime(2023, 1, 1)

In [5]:
time_interval = timedelta(minutes= 10)

In [6]:
data_list = []
current_date = start_date

while current_date <= end_date:
    azimuth, altitude = get_solar_position(latitude, longitude, current_date)


    data_list.append({
        'Datetime': current_date,
        'Latitude': latitude,
        'Longitude': longitude,
        'Azimuth': azimuth,
        'Altitude': altitude
    })

    current_date += time_interval

In [7]:
df = pd.DataFrame(data_list)
df.head(10)

             Datetime  Latitude   Longitude    Azimuth   Altitude
0 2022-10-01 00:00:00 -7.921179  112.599392  89.685158  25.347887
1 2022-10-01 00:10:00 -7.921179  112.599392  89.332884  27.821462
2 2022-10-01 00:20:00 -7.921179  112.599392  88.970932  30.295383
3 2022-10-01 00:30:00 -7.921179  112.599392  88.597184  32.769421
4 2022-10-01 00:40:00 -7.921179  112.599392  88.209216  35.243377
5 2022-10-01 00:50:00 -7.921179  112.599392  87.804220  37.717059
6 2022-10-01 01:00:00 -7.921179  112.599392  87.378890  40.190267
7 2022-10-01 01:10:00 -7.921179  112.599392  86.929327  42.662789
8 2022-10-01 01:20:00 -7.921179  112.599392  86.450818  45.134385
9 2022-10-01 01:30:00 -7.921179  112.599392  85.937638  47.604783

In [8]:
base_directory = 'solar_data'

In [9]:
csv_file_path = os.path.join(base_directory, f'solar_data_{start_date.strftime("%B").lower()}_{start_date.year}_to_{end_date.strftime("%B").lower()}_{end_date.year}.csv')
df.to_csv(csv_file_path, index=False, sep=';')


print(f"Data save in : {csv_file_path}")

Data save in : solar_data/solar_data_october_2022_to_january_2023.csv