In [64]:
import ephem 
import pandas as pd 
from datetime import datetime, timedelta
import os

In [65]:
def get_solar_position(latitude, longitude, date):
    observer = ephem.Observer()
    observer.lat = str(latitude)
    observer.long = str(longitude)
    observer.date = date 


    sun  = ephem.Sun(observer)

    azimuth = sun.az * 180 / ephem.pi
    altitude = sun.alt * 180 /ephem.pi

    return azimuth, altitude

In [66]:
latitude = -7.921179
longitude = 112.599392

In [67]:
start_date = datetime(2020, 10, 1)
end_date = datetime(2021, 1, 1)

In [68]:
time_interval = timedelta(minutes= 10)

In [69]:
data_list = []
current_date = start_date

while current_date <= end_date:
    azimuth, altitude = get_solar_position(latitude, longitude, current_date)


    data_list.append({
        'Datetime': current_date,
        'Latitude': latitude,
        'Longitude': longitude,
        'Azimuth': azimuth,
        'Altitude': altitude
    })

    current_date += time_interval

In [70]:
df = pd.DataFrame(data_list)
df.head(10)

             Datetime  Latitude   Longitude    Azimuth   Altitude
0 2020-10-01 00:00:00 -7.921179  112.599392  89.882530  25.414576
1 2020-10-01 00:10:00 -7.921179  112.599392  89.534539  27.888221
2 2020-10-01 00:20:00 -7.921179  112.599392  89.177443  30.362260
3 2020-10-01 00:30:00 -7.921179  112.599392  88.809173  32.836476
4 2020-10-01 00:40:00 -7.921179  112.599392  88.427365  35.310678
5 2020-10-01 00:50:00 -7.921179  112.599392  88.029302  37.784671
6 2020-10-01 01:00:00 -7.921179  112.599392  87.611786  40.258269
7 2020-10-01 01:10:00 -7.921179  112.599392  87.171020  42.731272
8 2020-10-01 01:20:00 -7.921179  112.599392  86.702442  45.203456
9 2020-10-01 01:30:00 -7.921179  112.599392  86.200512  47.674560

In [71]:
base_directory = 'solar_data'

In [72]:
csv_file_path = os.path.join(base_directory, f'solar_data_{start_date.strftime("%B").lower()}_{start_date.year}_to_{end_date.strftime("%B").lower()}_{end_date.year}.csv')
df.to_csv(csv_file_path, index=False, sep=';')


print(f"Data save in : {csv_file_path}")

Data save in : solar_data/solar_data_october_2020_to_january_2021.csv